In [3]:
import pandas as pd

In [12]:
import numpy as np

Data Importing & Cleaning

In [4]:
df = pd.read_csv("WHO-COVID-19-global-table-data.csv")

In [5]:
df.head()

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Belarus,Europe,994045.0,10520.0,0.0,NaN,0.0,7118.0,75.0,0.0,NaN,0.0
1,China,Western Pacific,99381302.0,6755.0,47.0,NaN,47.0,122377.0,8.0,0.0,NaN,0.0
2,French Guiana,NaN,98041.0,32825.0,NaN,NaN,NaN,413.0,138.0,NaN,NaN,NaN
3,Latvia,Europe,977765.0,51254.0,0.0,NaN,0.0,7475.0,392.0,0.0,NaN,0.0
4,Saint Vincent and the Grenadines,Americas,9674.0,8720.0,NaN,NaN,NaN,124.0,112.0,NaN,NaN,NaN

In [6]:
df.shape

(241, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 12 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Name                                                          241 non-null    object
 1   WHO Region                                                    222 non-null    object
 2   Cases - cumulative total                                      241 non-null    float64
 3   Cases - cumulative total per 100000 population                232 non-null    float64
 4   Cases - newly reported in last 7 days                         79 non-null     float64
 5   Cases - newly reported in last 7 days per 100000 population   33 non-null     float64
 6   Cases - newly reported in last 24 hours                       79 non-null     float64
 7   Deaths - cumulative total                                     241 non-null    float64
 8   Deaths - cumulative total per 100000 population               225 non-null    float64
 9   Deaths - newly reported in last 7 days                        80 non-null     float64
 10  Deaths - newly reported in last 7 days per 100000 population  0 non-null      float64
 11  Deaths - newly reported in last 24 hours                      80 non-null     float64
dtypes: float64(10), object(2)
memory usage: 22.7+ KB

In [14]:
df.isnull().sum()

Name                                                              0
WHO Region                                                       19
Cases - cumulative total                                          0
Cases - cumulative total per 100000 population                    9
Cases - newly reported in last 7 days                           162
Cases - newly reported in last 7 days per 100000 population     208
Cases - newly reported in last 24 hours                         162
Deaths - cumulative total                                         0
Deaths - cumulative total per 100000 population                  16
Deaths - newly reported in last 7 days                          161
Deaths - newly reported in last 7 days per 100000 population    241
Deaths - newly reported in last 24 hours                        161
dtype: int64

In [15]:
df.drop(columns = ["Cases - newly reported in last 7 days per 100000 population", "Deaths - newly reported in last 7 days per 100000 population"], inplace = True)

In [18]:
df.columns

Index(['Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 24 hours'],
      dtype='object')

In [19]:
df.isnull().sum()

Name                                                 0
WHO Region                                          19
Cases - cumulative total                             0
Cases - cumulative total per 100000 population       9
Cases - newly reported in last 7 days              162
Cases - newly reported in last 24 hours            162
Deaths - cumulative total                            0
Deaths - cumulative total per 100000 population     16
Deaths - newly reported in last 7 days             161
Deaths - newly reported in last 24 hours           161
dtype: int64

In [20]:
df.drop(columns= ['Cases - newly reported in last 24 hours', 'Deaths - newly reported in last 24 hours'], inplace = True)

In [21]:
df.columns

Index(['Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days'],
      dtype='object')

In [22]:
df.isnull().sum()

Name                                                 0
WHO Region                                          19
Cases - cumulative total                             0
Cases - cumulative total per 100000 population       9
Cases - newly reported in last 7 days              162
Deaths - cumulative total                            0
Deaths - cumulative total per 100000 population     16
Deaths - newly reported in last 7 days             161
dtype: int64